{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container mt-4">
    <h2>Задачи</h2>
    <a href="{% url 'tasks_create' %}" class="btn btn-primary">Создать задачу</a>
    
    <div class="card mb-4 bg-light mt-3">
        <div class="card-body">
            <form method="get">
                <div class="col-12">
                    {% bootstrap_field filter.form.status %}
                </div>
                <div class="col-12">
                {% bootstrap_field filter.form.executor %}
                </div>
                <div class="col-12">
                    {% bootstrap_field filter.form.labels %}
                </div>

                <div class="col-12">
                     <div class="form-check">
                        <input type="checkbox" name="my_tasks" class="form-check-input" id="id_my_tasks">
                        <label class="form-check-label" for="id_my_tasks">
                            Только свои задачи
                        </label>
                    </div>
                </div>
                <div class="mt-3">
                {% bootstrap_button "Показать" button_type="submit" %}
                </div>
            </form>
        </div>
    </div>

    <table class="table table-striped"> 
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Статус</th>
                <th>Автор</th>
                <th>Исполнитель</th>
                <th>Дата создания</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{task.id}}</td>
                <td><a href="{% url 'tasks_view' task.id %}">{{task.name}}</a></td>
                <td>{{task.status.name}}</td>
                <td>{{task.author.username}}</td>
                <td>{{task.executor.username}}</td>
                <td>{{task.created_at|date:"d.m.Y H:i"}}</td>
                <td>
                    <a href="{% url 'tasks_update' task.id %}" class="btn btn-link btn-primary">Изменить</a>
                    <a href="{% url 'tasks_delete' task.id %}" class="btn btn-link btn-primary">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}