{% extends 'base.html' %}
{% block content %}
<div class="px-4 py-5 my-5 text-center bg-body-tertiary rounded-3">
    <div class="container mt-4">
        <h1>Учебный проект: "Менеджер задач"</h1>
    
        <div class="col-lg-6 mx-auto">

        {% if not user.is_authenticated %}
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <!-- <a href="{% url 'login' %}" class="btn btn-primary btn-lg px-4 gap-3">Вход</a> -->
                <a href="{% url 'users_create' %}" class="btn btn-outline-secondary btn-lg px-4">Регистрация</a>
            </div>
        {% endif %}
        </div>
    </div>
</div>
       
{% endblock %}