{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container mt-4">
    <h2>Пользователи</h2>

    <table class="table table-striped"> 
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Полное имя</th>
                <th>Дата создания</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.username}}</td>
                <td>{{user.get_full_name}}</td>
                <td>{{user.date_joined}}</td>
                <td>
                    <a href="#" class="btn btn-sm btn-primary">Изменить</a>
                    <a href="#" class="btn btn-sm btn-primary">Удалить</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}